{% extends "base.html"%}
{%block title%}Artistas{% endblock title%} 
{%block content%}
    <div class="card-group">
        {% for autor in autors %}
            <div class="card">
                <img src="{{ autor.picture.url }}" alt="">
                <div class="card-body">
                        <h5 class="card-title">{{ autor }}</h5>
                        <p class="card-text">Pais: {{ autor.country }}</p>
                        <a href="{{ autor.id }}" class="btn btn-primary">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                        <a href="edit_autor/{{ autor.id }}" class="btn btn-primary">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a href="delete_autor/{{ autor.id }}" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
            </div>
        {% endfor %}
    </div>
{%endblock content%}